################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Izel/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
