################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Izel/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
source/_build/doctrees/environment.pickle
source/_build/doctrees/index.doctree
source/_build/html/.buildinfo
source/_build/html/genindex.html
source/_build/html/index.html
source/_build/html/objects.inv
source/_build/html/search.html
source/_build/html/searchindex.js
source/_build/html/_sources/index.rst.txt
source/_build/html/_static/basic.css
source/_build/html/_static/doctools.js
source/_build/html/_static/documentation_options.js
source/_build/html/_static/file.png
source/_build/html/_static/jquery-3.5.1.js
source/_build/html/_static/jquery.js
source/_build/html/_static/language_data.js
source/_build/html/_static/minus.png
source/_build/html/_static/plus.png
source/_build/html/_static/pygments.css
source/_build/html/_static/searchtools.js
source/_build/html/_static/underscore-1.12.0.js
source/_build/html/_static/underscore.js
source/_build/html/_static/css/badge_only.css
source/_build/html/_static/css/theme.css
source/_build/html/_static/css/fonts/fontawesome-webfont.eot
source/_build/html/_static/css/fonts/fontawesome-webfont.svg
source/_build/html/_static/css/fonts/fontawesome-webfont.ttf
source/_build/html/_static/css/fonts/fontawesome-webfont.woff
source/_build/html/_static/css/fonts/fontawesome-webfont.woff2
source/_build/html/_static/css/fonts/lato-bold-italic.woff
source/_build/html/_static/css/fonts/lato-bold-italic.woff2
source/_build/html/_static/css/fonts/lato-bold.woff
source/_build/html/_static/css/fonts/lato-bold.woff2
source/_build/html/_static/css/fonts/lato-normal-italic.woff
source/_build/html/_static/css/fonts/lato-normal-italic.woff2
source/_build/html/_static/css/fonts/lato-normal.woff
source/_build/html/_static/css/fonts/lato-normal.woff2
source/_build/html/_static/css/fonts/Roboto-Slab-Bold.woff
source/_build/html/_static/css/fonts/Roboto-Slab-Bold.woff2
source/_build/html/_static/css/fonts/Roboto-Slab-Regular.woff
source/_build/html/_static/css/fonts/Roboto-Slab-Regular.woff2
source/_build/html/_static/fonts/fontawesome-webfont.eot
source/_build/html/_static/fonts/fontawesome-webfont.svg
source/_build/html/_static/fonts/fontawesome-webfont.ttf
source/_build/html/_static/fonts/fontawesome-webfont.woff
source/_build/html/_static/fonts/fontawesome-webfont.woff2
source/_build/html/_static/fonts/Inconsolata-Bold.ttf
source/_build/html/_static/fonts/Inconsolata-Regular.ttf
source/_build/html/_static/fonts/Inconsolata.ttf
source/_build/html/_static/fonts/Lato-Bold.ttf
source/_build/html/_static/fonts/Lato-Regular.ttf
source/_build/html/_static/fonts/RobotoSlab-Bold.ttf
source/_build/html/_static/fonts/RobotoSlab-Regular.ttf
source/_build/html/_static/fonts/Lato/lato-bold.eot
source/_build/html/_static/fonts/Lato/lato-bold.ttf
source/_build/html/_static/fonts/Lato/lato-bold.woff
source/_build/html/_static/fonts/Lato/lato-bold.woff2
source/_build/html/_static/fonts/Lato/lato-bolditalic.eot
source/_build/html/_static/fonts/Lato/lato-bolditalic.ttf
source/_build/html/_static/fonts/Lato/lato-bolditalic.woff
source/_build/html/_static/fonts/Lato/lato-bolditalic.woff2
source/_build/html/_static/fonts/Lato/lato-italic.eot
source/_build/html/_static/fonts/Lato/lato-italic.ttf
source/_build/html/_static/fonts/Lato/lato-italic.woff
source/_build/html/_static/fonts/Lato/lato-italic.woff2
source/_build/html/_static/fonts/Lato/lato-regular.eot
source/_build/html/_static/fonts/Lato/lato-regular.ttf
source/_build/html/_static/fonts/Lato/lato-regular.woff
source/_build/html/_static/fonts/Lato/lato-regular.woff2
source/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.eot
source/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.ttf
source/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.woff
source/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.woff2
source/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.eot
source/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.ttf
source/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.woff
source/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.woff2
source/_build/html/_static/js/badge_only.js
source/_build/html/_static/js/html5shiv-printshiv.min.js
source/_build/html/_static/js/html5shiv.min.js
source/_build/html/_static/js/modernizr.min.js
source/_build/html/_static/js/theme.js
